* {
	*margin: 0px;
	padding: 0px;
}

body{
	background-image: url("../IMAGENS/fundoLogin.jpg");
	background-position: 20% 10%;
	color: steelblue;
	font-family: sans-serif;
}

nav#Cabecalho{
	text-align: left;
}

input {
	outline: none;
	display: block;
	height: 40px;
	width: 550px;
	margin: 10px;
	border-radius: 15px;
	border:1px solid black;
	font-size: 16pt;
	padding: 10px 15px;
	background-color: rgba(255, 255, 255, 0.7);
}

div#corpo-form {
	//background-color: blue;
	width: 480px;
	margin: 150px auto 0px auto;
}

div#corpo-form h1{
	text-align: center;
	padding: 10px;
}

a{
	color: steelblue;
	text-decoration: none;
	text-align: center;
	display: block;
}
a:hover{
	text-decoration: underline;
}

input[type=submit]{
	background-color: steelblue;
	border: none;
	cursor: pointer;
}

div#msg-sucesso{
	width: 400px;
	margin: 10px auto;
	padding: 10px;
	background-color: whitesmoke;
	border: 1px solid black;
}
div.msg-erro{
	width: 400px;
	margin: 10px auto;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
}